* {margin: 0; padding: 0;}

body { 
	-webkit-user-select:none;
	font-family: 'Lato', sans-serif; 
	font-size: 40px; 
	background-color: #EFDDCB;	
	width: 100%; 
	height: 100% !important;
	color: #FFFFFF;
}

html {
	height: 100%
}

.ui-mobile, .ui-mobile body {
height: 100%;
}


a {
	-webkit-user-select:none; -webkit-touch-callout:none;
}

.padBottom{
	padding-bottom: 10px;
}

.topButton{
	background-color: #F7931A;
	border: 10px solid #FFFFFF;
	padding: 20px;
	color: #FFFFFF;
	position: relative;
	top: 50px;
	display: inline-block;
	width: 120px;
	text-align: center;
	font-size: 32px;
}

#content{
	width:900px;
	margin-left: auto;
	margin-right: auto;
	color: #000000;
}

#headerText{
	font-size: 100px;
	padding-top: 10px;
	background-color: #F7931A;
	color: #EEEEEE;
	border-bottom: 10px solid #FFFFFF;
	width: 100%;
	text-align: center;
}

#infoContent{
	position: relative;
	top: 120px;
}

#updateButton{
	background-color: #F7931A;
	color: #FFFFFF;
	padding: 25px;
	margin-top: 50px;
	text-align: center;
	font-size: 40px;
	border: 10px solid #FFFFFF;
	position: fixed;
	top:820px;
	width: 830px;
}

#waffleForm{
	display:inline-block;
	width: 400px; 
	margin-top:10px; 
	height: 30px; 
	font-size: 25px;
}

@media all and (max-width : 920px) and (min-width : 710px) {

	.topButton{
		width:80px;
		font-size: 20px;
	}

	#content{
		width: 700px;
		font-size: 28px;
	}

	#headerText{
		font-size: 60px;
	}

	#infoContent{
		top:80px;
	}

	#updateButton{
		width:630px;
		top:600px;
	}

}

@media all and (max-width : 709px) and (min-width : 510px){

	.topButton{
		border: 5px solid #FFFFFF;
		padding: 10px;
		width:70px;
		font-size: 14px;
		top:20px;
	}

	#content{
		width: 500px;
		font-size: 20px;
	}

	#headerText{
		font-size: 30px;
	}

	#infoContent{
		top:40px;
	}

	#updateButton{
		width:460px;
		top:400px;
		padding: 15px;
		border: 5px solid #FFFFFF;
		font-size: 20px;
	}
}

@media all and (max-width : 509px) {

	.topButton{
		border: 5px solid #FFFFFF;
		padding: 8px;
		width:48px;
		font-size: 12px;
		top:20px;
	}

	#content{
		width: 370px;
		font-size: 20px;
	}

	#headerText{
		font-size: 30px;
	}

	#infoContent{
		top:40px;
	}

	#updateButton{
		width:330px;
		top:400px;
		padding: 15px;
		border: 5px solid #FFFFFF;
		font-size: 20px;
	}

	#waffleForm{
		width: 320px;
	}
}